<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="card card-block">
      <h5 class="m-b-0 v-align-middle text-overflow">
        <span>{{data.building}} Gedung</span>
      </h5>
      <br>
      <div class="small text-overflow">
Updated:&nbsp;<span>{{data.time}}</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="card card-block">
      <h5 class="m-b-0 v-align-middle text-overflow">
        <span>{{data.room}} Ruang</span>
      </h5>
      <br>
      <div class="small text-overflow">
        Updated:&nbsp;<span>{{data.time}}</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="card card-block">
      <h5 class="m-b-0 v-align-middle text-overflow">
        <span>{{data.faculty}} Fakultas</span>
      </h5>
      <br>
      <div class="small text-overflow">
        Updated:&nbsp;<span>{{data.time}}</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="card card-block">
      <h5 class="m-b-0 v-align-middle text-overflow">
        <span>{{data.major}} Jurusan</span>
      </h5>
      <br>
      <div class="small text-overflow">
        Updated:&nbsp;<span>{{data.time}}</span>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="card card-block">
      <h5 class="m-b-0 v-align-middle text-overflow">
        <span>{{data.class}} Kelas </span>
      </h5>
      <br>
      <div class="small text-overflow">
        Updated:&nbsp;<span>{{data.time}}</span>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 col-lg-2">
    <div class="card card-block">
      <h5 class="m-b-0 v-align-middle text-overflow">
        <span>{{data.teacher}} Dosen </span>
      </h5>
      <br>
      <div class="small text-overflow">
        Updated:&nbsp;<span>{{data.time}}</span>
      </div>
    </div>
  </div>

</div>

<div class="row">
<div class="col-md-12">
    <div class="card" style="text-align:center">
      <div class="card-block">Selamat datang di Sistem Informasi Penjadwalan Fakultas. Dengan sistem aplikasi ini diharapkan kegiatan penjadwalan yang dilaksanakan di fakultas dan jurusan dapat dilakukan dengan mudah dilakukan melalui sistem otomatisasi dengan kemungkinan kesalahan yang kecil. </div>
    </div>
</div>
</div>
