<div class="card" ng-show="dataFaculty != ''">
  <!--<div class="card-block">-->
  <uib-tabset>
    <uib-tab index="0" heading="Detail">
      <!--{{dataCourse}}-->
      <div class="form-group">
        <label class="label">Nama {{title}}</label>
        <span class="form-control">{{dataFaculty.name}}</span>
      </div>

      <div class="form-group">
        <label class="label">Deskriptsi {{title}}</label>
        <span class="form-control">{{dataFaculty.description}}</span>
      </div>
    </uib-tab>

    <uib-tab index="2" heading="Penjadwalan">
      <div class="card-block">
        <div class="row">
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" ng-model="search" class="form-control" placeholder="Pencarian">
              <!-- <span class="input-group-addon" id="basic-addon3">Hari :    </span>
              <select class="form-control input-sm" ng-model="dataDays.pick_day_seq" ng-options="item.seq as item.name for item in dataDays" ng-change="changeScheduleData()">
              </select> -->

            </div>
          </div>
          <div class="col-md-8">
            <button class="btn btn-icon btn-info pull-right" ng-click="AddFacultyScheduleModal()" ><i class="fa fa-plus"></i>&nbsp;Tambah Baru</button>
            <button class="btn btn-danger  btn-icon pull-right" style="margin-right:10px;" ng-click="DeleteFacultyScheduleAll()"><i class="fa fa-trash"></i>&nbsp;Hapus Semua</button>
          </div>
          <br>
          <br>
          <br>
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <th>Hari</th>
                <th>Jam</th>
                <th>Durasi</th>
                <th>Jurusan</th>
                <th>Matakuliah</th>
                <th>Kelas</th>
                <th>Ruangan</th>
                <th>Aksi</th>
              </thead>
              <tbody>
                <tr ng-repeat="item in dataFacultyScheduleSelected | filter : search">
                  <td>{{ item.day_name}}</td>
                  <td>{{ item.hour_name}}</td>
                  <td>{{ item.start_hour}} : {{item.start_min}} - {{ item.end_hour}} : {{item.end_min}} </td>
                  <td>{{ item.major_name}}</td>
                  <td>{{ item.course_name}}</td>
                  <td>{{ item.class_label}}</td>
                  <td>{{item.room_name}}</td>
                  <td>
                    <button class="btn btn-flat btn-sm btn-danger" ng-click="DeleteFacultySchedule(item)" ng-attr-id="{{ 'remove_btn_' + item.schedule_seq}}"><i class="fa fa-trash" title="Hapus"></i></button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tab>

</uib-tabset>

<!--</div>-->

<div class="card-header">
  <a href="#" ui-sref="admin.matakuliah" class="btn btn-icon  btn-success"><i class="fa fa-arrow-left"></i>Kembali</a>
</div>
<script type="text/ng-template" id="add-class-modal.html">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title-{{name}}">Tambahkan Kelas</h4>
  </div>
  <div class="modal-body" id="modal-body-{{name}}">
    <div class="form-group">
      <label>Label Kelas</label>
      <select style="margin-bottom:3px;" ng-model="datainput.first_selected" ng-options="item for item in alphabetics" class="form-control">{{item}}</select>
      <select ng-model="datainput.last_selected" ng-options="item for item in alphabetics" class="form-control">{{item}}</select>
    </div>
    <div class="modal-footer">
      <button class="btn btn-icon btn-success" type="button" ng-click="addClassSubmit(datainput)"><i class="fa fa-check"></i>&nbsp;Simpan</button>
      <button class="btn btn-warning btn-icon" ng-click="closeClassModal()"><i class="fa fa-close"></i>&nbsp;Tutup</button>
    </div>
  </script>

  <script type="text/ng-template" id="teacher-course-delete-modal.html">
    <div class="modal-header">
      <h5>Konfirmasi</h5></div>
      <div class="modal-body" id="modal-body-{{name}}">
        <h5>Anda yakin menghapus data ini ?</h5>
      </div>
      <div class="modal-footer">
        <button class="btn btn-icon btn-danger" type="button" ng-click="teacherCourseDelete()"><i class="fa fa-trash"></i>&nbsp;Ya</button>
        <button class="btn btn-warning btn-icon" ng-click="closeDeleteModal()"><i class="fa fa-close"></i>&nbsp;Tutup</button>
      </div>
    </script>
    <script type="text/ng-template" id="course-assigne-teacher-modal.html">

      <div class="modal-header">
        <h4 class="modal-title" id="modal-title-{{name}}">Pilih Dosen</h4>
      </div>
      <div class="modal-body" id="modal-body-{{name}}">
        <div class="form-group">
          <input type="text" ng-model="search" class="form-control" placeholder="Pencarian">
        </div>
        <div class="form-group">
          <div ng-repeat="item in dataTeacherCourse | filter:search">
            <div>
              <input class="to-labelauty" type="radio" name="rd1" data-labelauty="{{item.teacher_name}}" ng-value="item.teacher_seq" ng-model="dataTeacherCourse.pick_teacher_seq" checked ui-jq="labelauty" ui-options="{class: 'labelauty btn-block'}" />
            </div>
          </div>
        </div>
        <div class="modal-footer">

          <button class="btn btn-icon btn-success" type="button" ng-click="assigneTeacherSubmit(dataTeacherCourse.pick_teacher_seq)"><i class="fa fa-check"></i>&nbsp;Simpan</button>
          <button class="btn btn-warning btn-icon" ng-click="CloseAssigneTeacherModal()"><i class="fa fa-close"></i>&nbsp;Tutup</button>
        </div>
      </script>

      <script type="text/ng-template" id="course-delete-class-modal.html">
        <div class="modal-header">
          <h5>Konfirmasi</h5></div>
          <div class="modal-body" id="modal-body-{{name}}">
            <h5>Anda yakin menghapus data ini ?</h5>
          </div>
          <div class="modal-footer">
            <button class="btn btn-icon btn-danger" type="button" ng-click="classDelete()"><i class="fa fa-trash"></i>&nbsp;Ya</button>
            <button class="btn btn-warning btn-icon" ng-click="closeDeleteModal()"><i class="fa fa-close"></i>&nbsp;Tutup</button>
          </div>
        </script>

        <script type="text/ng-template" id="course-schedule-modal.html">
          <div class="modal-header">
            <h5>Penjadwalan</h5></div>
            <div class="modal-body" id="modal-body-{{name}}">
              <h5>hahaah</h5>
            </div>
            <div class="modal-footer">
              <button class="btn btn-icon btn-danger" type="button" ng-click="classDelete()"><i class="fa fa-trash"></i>&nbsp;Ya</button>
              <button class="btn btn-warning btn-icon" ng-click="closeDeleteModal()"><i class="fa fa-close"></i>&nbsp;Tutup</button>
            </div>
          </script>
        </div>

        <script type="text/ng-template" id="faculty-schedule-change-modal.html">
          <div class="modal-header">
            <h5>Ganti Jadwal</h5></div>
            <div class="modal-body" id="modal-body-{{name}}">
              <div class="form-group">
                <label>Hari</label>
                <select class="form-control input-sm" ng-model="data_input.pick_day_seq" ng-options="item.seq as item.name for item in DayOption" ng-change="dayOptionSelected(data_input)">
                </select>
              </div>
              <div class="form-group">
                <label>Jam</label>
                <select class="form-control " ng-model="data_input.pick_day_hour_seq">
                  <option ng-repeat="item in DayHourOption.picked_hour" value="{{item.day_hour_seq}}">{{item.hour_name}} ({{item.start_hour}}:{{item.start_min}} - {{item.end_hour}}:{{item.end_min}}) </option>
                </select>
              </div>
              <div class="form-group">
                <label>Jurusan</label>
                <select class="form-control " ng-model="data_input.pick_major_seq" ng-change="getThisMajorCourses(data_input)">
                  <option ng-repeat="item in MajorOption" value="{{item.seq}}"> {{item.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Mata Kuliah</label>
                <select class="form-control " ng-model="data_input.pick_course_seq" ng-change="getThisCourseClasses(data_input)">
                  <option ng-repeat="item in CoursesOption" value="{{item.course_seq}}"> {{item.course_name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Kelas</label>
                <select class="form-control " ng-model="data_input.pick_class_seq" ng-change="">
                  <option ng-repeat="item in ClassesOption" value="{{item.seq}}"> {{item.label}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Ruangan</label>
                <select class="form-control input-sm" ng-model="data_input.pick_room_seq" ng-options="item.room_seq as item.room_name for item in RoomsOption">
                </select>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <button class="btn btn-info" ng-click="CheckAvailability(data_input)">Periksa Ketersediaan</button>
                  </div>
                  <div class="col-md-6">
                    <h5 ng-attr-id="{{'show_status'}}" class="pull-right" style="display:none;"></h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-icon btn-success" style="display:none"  ng-attr-id="{{'submitBtnChange'}}" type="button" ng-click="editFacultySchedule(data_input)"><i class="fa fa-check"></i>&nbsp;Simpan</button>
              <button class="btn btn-warning btn-icon" ng-click="closeDeleteModal()"><i class="fa fa-close"></i>&nbsp;Tutup</button>
            </div>
          </script>


          <script type="text/ng-template" id="faculty-schedule-add-modal.html">
            <div class="modal-header">
              <h5>Tambah Jadwal</h5></div>
              <div class="modal-body" id="modal-body-{{name}}">
                <div class="form-group">
                  <label>Hari</label>
                  <select class="form-control input-sm" ng-model="data_input.pick_day_seq" ng-options="item.seq as item.name for item in DayOption" ng-change="dayOptionSelected(data_input)">
                  </select>
                </div>
                <div class="form-group">
                  <label>Jam</label>
                  <select class="form-control " ng-model="data_input.pick_day_hour_seq">
                    <option ng-repeat="item in DayHourOption.picked_hour" value="{{item.day_hour_seq}}">{{item.hour_name}} ({{item.start_hour}}:{{item.start_min}} - {{item.end_hour}}:{{item.end_min}}) </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Jurusan</label>
                  <select class="form-control " ng-model="data_input.pick_major_seq" ng-change="getThisMajorCourses(data_input)">
                    <option ng-repeat="item in MajorOption" value="{{item.seq}}"> {{item.name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Mata Kuliah</label>
                  <select class="form-control " ng-model="data_input.pick_course_seq" ng-change="getThisCourseClasses(data_input)">
                    <option ng-repeat="item in CoursesOption" value="{{item.course_seq}}"> {{item.course_name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Kelas</label>
                  <select class="form-control " ng-model="data_input.pick_class_seq" ng-change="">
                    <option ng-repeat="item in ClassesOption" value="{{item.seq}}"> {{item.label}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Ruangan</label>
                  <select class="form-control input-sm" ng-model="data_input.pick_room_seq" ng-options="item.room_seq as item.room_name for item in RoomsOption">
                  </select>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <button class="btn btn-info" ng-click="CheckAvailability(data_input)">Periksa Ketersediaan</button>
                    </div>
                    <div class="col-md-6">
                      <h5 ng-attr-id="{{'show_status'}}" class="pull-right" style="display:none;"></h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-icon btn-success" style="display:none"  ng-attr-id="{{'submitBtnChange'}}" type="button" ng-click="AddFacultySchedule(data_input)"><i class="fa fa-check"></i>&nbsp;Simpan</button>
                <button class="btn btn-warning btn-icon" ng-click="closeDeleteModal()"><i class="fa fa-close"></i>&nbsp;Tutup</button>
              </div>
            </script>

            <div ng-show="dataFaculty == ''">
              <!--<div ng-include src="'views/404.html'"></div>-->
              Data tidak ditemukan
            </div>
