<div class="card" ng-show="getTeacher == 'OK'">
    <!--<div class="card-block">-->
    <uib-tabset>
        <uib-tab index="0" heading="Profil">
            <div class="form-group">
                <label class="label">NIDN {{title}}</label>
                <span class="form-control">{{dataTeacher.nidn}}</span>
            </div>
            <div class="form-group">
                <label class="label">Nama {{title}}</label>
                <span class="form-control">{{dataTeacher.name}}</span>
            </div>

            <div class="form-group">
                <label class="label">Kontak {{title}}</label>
                <span class="form-control">{{dataTeacher.contact}}</span>
            </div>
            <div class="form-group">
                <label class="label">Alamat {{title}}</label>
                <span class="form-control">{{dataTeacher.address}}</span>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Kelas">

            Kelas yang diambil oleh dosen :
            <br>
            <br>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card-block">
                        <h5 class="card-title">
                            Tambahkan Kelas
                        </h5>
                        <p class="card-text">
                            Klik di bawah ini untuk menambahkan kelas.
                        </p>
                        <button class="btn btn-info btn-icon btn-sm" ng-click="addCourseModal()"><i class="fa fa-plus"></i>Pilih Kelas</button>
                    </div>
                </div>
                <div ng-repeat="item in dataCourseTeacher">
                    <div class="col-lg-6 " style="margin-bottom: 10px;">
                        <div class="card card-block">
                            <h5 class="card-title">
                                {{item.name}} - Kelas {{item.label}}
                            </h5>
                            <p class="card-text">
                                {{item.major_name}} - {{item.faculty_name}} - {{item.sks}} SKS
                            </p>
                            <button class="btn btn-icon btn-sm btn-danger" ng-click="deleteCourseModal(item.teacher_course_seq)"><i class="fa fa-trash"></i> Hapus</button>
                            <button class="btn btn-icon btn-sm btn-instagram" ng-click="deleteCourseModal(item.teacher_course_seq)"><i class="fa fa-bars"></i> Penjadwalan</button>
                            <button class="btn btn-icon btn-sm btn-warning" ng-click=""><i class="fa fa-flag"></i> Kelas</button>
                        </div>
                    </div>
                </div>

            </div>
        </uib-tab>
    </uib-tab>

</uib-tabset>

<!--</div>-->

<div class="card-header">
    <a href="#" ui-sref="admin.dosen" class="btn btn-icon  btn-success"><i class="fa fa-arrow-left"></i>Kembali</a>
</div>
<script type="text/ng-template" id="teacher-add-course-modal.html">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title-{{name}}">Pilih Kelas</h4>
    </div>
    <div class="modal-body" id="modal-body-{{name}}">
        <div class="form-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Pencarian">
        </div>
        <div ng-repeat="item in dataCourse | filter:search">
            <input class="to-labelauty" type="checkbox" data-labelauty="{{item.name}} - Kelas {{item.label}} - {{item.major_name}} - {{item.faculty_name}} - {{item.sks}} SKS " checklist-model="dataCourse.courses.pick_class_seq" checklist-value="item.class_seq" ui-jq="labelauty" ui-options="{class: 'labelauty btn-block'}" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-icon btn-success" type="button" ng-click="AddCourseTeacher(dataCourse.courses)"><i class="fa fa-check"></i>&nbsp;Simpan</button>
        <button class="btn btn-warning btn-icon" ng-click="closeAddCourseModal()"><i class="fa fa-close"></i>&nbsp;Tutup</button>
    </div>
</script>

<script type="text/ng-template" id="teacher-course-delete-modal.html">
    <div class="modal-header">
        <h5>Konfirmasi</h5></div>
        <div class="modal-body" id="modal-body-{{name}}">
            <h5>Menghapus data ini akan menghapus data lain yang terkait, Anda yakin menghapus data ini ?</h5>
        </div>
        <div class="modal-footer">
            <button class="btn btn-icon btn-danger" type="button" ng-click="teacherCourseDelete()"><i class="fa fa-trash"></i>&nbsp;Ya</button>
            <button class="btn btn-warning btn-icon" ng-click="closeDeleteModal()"><i class="fa fa-close"></i>&nbsp;Tutup</button>
        </div>
    </script>
</div>


<div ng-show="getTeacher != 'OK'">
    <!--<div ng-include src="'views/404.html'"></div>-->
    Data tidak ditemukan
</div>
