<div class="card">
    <div class="card-block">
        <button class="btn btn-icon btn-info" ng-click="addModal()"><i class="fa fa-plus"></i>Tambah {{title}}</button>
        <form class="form-inline pull-right">
            <div class="form-group">
                <input type="text" ng-model="search" class="form-control" placeholder="Pencarian">
            </div>
        </form>
    </div>
    <div class="card-block">
        <table class="table table-hover ">
            <thead class="thead-default">
                <tr>
                    <th>Nama</th>
                    <th>Jurusan</th>
                    <th>Semester</th>
                    <th>Jumlah SKS</th>
                    <th>Jumlah Kelas</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data|filter:search">
                    <td>{{ item.name}}</td>
                    <td>{{ item.major_name}}</td>
                    <td>Semester {{item.semester}}</td>
                    <td>{{ item.sks}} SKS</td>
                    <td>{{ item.class_count}} Kelas</td>
                    <td>
                        <a href="#" ui-sref="admin.detail_matakuliah({matakuliahSeq : item.seq})" class="btn btn-success btn-sm" title="Detail"><i class="fa fa-eye"></i></a>
                        <button type="button" class="btn btn-warning btn-sm" title="Edit" ng-click="editModal(item.seq)"><i class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-danger btn-sm" title="Hapus" ng-click="deleteModal(item.seq)"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

<script type="text/ng-template" id="course-add-modal.html">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title-{{name}}">Tambah {{title}}</h4>
    </div>
    <div class="modal-body" id="modal-body-{{name}}">
        <div class="form-group">
            <label class="label">Nama {{title}}</label>
            <input class="form-control" type="text" placeholder="Nama {{title}}" ng-model="data_input.name">
        </div>
        <div class="form-group">
            <label class="label">Pilih {{parent_title}}</label>
            <select class='form-control' ng-model="data_input.major_seq" ng-options="item.seq as item.name for item in majorOption">
            </select>
        </div>
        <div class="form-group">
            <label class="label">Pilih SKS</label>
            <select class='form-control' ng-model="data_input.sks" ng-options="item for item in sksOption">
            </select>
        </div>
        <div class="form-group">
            <label class="label">Pilih Semester</label>
            <select class='form-control' ng-model="data_input.smt" ng-options="item for item in smtOption">
            </select>
        </div>
        <div class="form-group">
            <label class="label">Deskripsi {{title}}</label>
            <input class="form-control" type="text" placeholder="Deskripsi" ng-model="data_input.description">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-icon btn-success" type="button" ng-click="courseAdd(data_input)"><i class="fa fa-check"></i>&nbsp;Simpan</button>
        <button class="btn btn-warning btn-icon" ng-click="closeAddModal()"><i class="fa fa-close"></i>&nbsp;Tutup</button>
    </div>
</script>

<script type="text/ng-template" id="course-delete-modal.html">
    <div class="modal-header">
        <h5>Konfirmasi</h5></div>
    <div class="modal-body" id="modal-body-{{name}}">
        <h5>Menghapus data ini akan menghapus data lain yang terkait, Anda yakin menghapus data ini ?</h5>
    </div>
    <div class="modal-footer">
        <button class="btn btn-icon btn-danger" type="button" ng-click="courseDelete()"><i class="fa fa-trash"></i>&nbsp;Ya</button>
        <button class="btn btn-warning btn-icon" ng-click="closeDeleteModal()"><i class="fa fa-close"></i>&nbsp;Tutup</button>
    </div>
</script>

<script type="text/ng-template" id="course-edit-modal.html">

    <div class="modal-header">
        <h4 class="modal-title">Edit {{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="label">Nama {{title}}</label>
            <input class="form-control" type="text" placeholder="Nama {{title}}" ng-model="dataCourse.name">
        </div>
        <div class="form-group">
            <label class="label">Pilih {{parent_title}}</label>
            <select class='form-control' ng-model="dataCourse.major_seq" ng-options="item.seq as item.name for item in majorOption">
            </select>
        </div>
        <div class="form-group">
            <label class="label">Pilih SKS</label>
            <select class='form-control' ng-model="dataCourse.sks" ng-options="item for item in sksOption">
            </select>
        </div>
        <div class="form-group">
            <label class="label">Pilih Semester</label>
            <select class='form-control' ng-model="dataCourse.semester" ng-options="item for item in smtOption">
            </select>
        </div>
        <div class="form-group">
            <label class="label">Deskripsi {{title}}</label>
            <input class="form-control" type="text" placeholder="Deskripsi" ng-model="dataCourse.description">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-icon btn-success" type="button" ng-click="courseEdit(dataCourse)"><i class="fa fa-check"></i>&nbsp;Simpan</button>
        <button class="btn btn-warning btn-icon" ng-click="closeEditModal()"><i class="fa fa-close"></i>&nbsp;Tutup</button>
    </div>
</script>
