<div data-ng-controller="sweetAlertCtrl as alert">
  <div class="row">
    <div class="col-xs-2">
      <button type="button" class="btn btn-sm btn-block no-bg">
        Action
      </button>
    </div>
    <div class="col-xs-10">
      <button type="button" class="btn btn-sm no-bg">
        Description
      </button>
    </div>
  </div>
  <div class="row m-b-2">
    <div class="col-sm-2">
      <button type="button" class="btn btn-sm btn-default btn-block" data-ng-click="alert.demo1();">
        <span>
          Show me
        </span>
      </button>
    </div>
    <div class="col-sm-10">
      <button type="button" class="btn btn-sm no-bg">
        A basic alert message
      </button>
    </div>
  </div>
  <div class="row m-b-2">
    <div class="col-sm-2">
      <button type="button" class="btn btn-sm btn-default btn-block" data-ng-click="alert.demo3();">
        <span>
          Show me
        </span>
      </button>
    </div>
    <div class="col-sm-10">
      <button type="button" class="btn btn-sm no-bg">
        A title with a text under
      </button>
    </div>
  </div>
  <div class="row m-b-2">
    <div class="col-sm-2">
      <button type="button" class="btn btn-sm btn-default btn-block" data-ng-click="alert.demo4();">
        <span>
          Show me
        </span>
      </button>
    </div>
    <div class="col-sm-10">
      <button type="button" class="btn btn-sm no-bg">
        A success message!
      </button>
    </div>
  </div>
  <div class="row m-b-2">
    <div class="col-sm-2">
      <button type="button" class="btn btn-sm btn-default btn-block" data-ng-click="alert.demo2();">
        <span>
          Show me
        </span>
      </button>
    </div>
    <div class="col-sm-10">
      <button type="button" class="btn btn-sm no-bg">
        A message with auto close timer
      </button>
    </div>
  </div>
  <div class="row m-b-2">
    <div class="col-sm-2">
      <button type="button" class="btn btn-sm btn-default btn-block" data-ng-click="alert.demo5();">
        <span>
          Show me
        </span>
      </button>
    </div>
    <div class="col-sm-10">
      <button type="button" class="btn btn-sm no-bg">
        A warning message, with a function attached to the "Confirm"-button...
      </button>
    </div>
  </div>
  <div class="row m-b-2">
    <div class="col-sm-2">
      <button type="button" class="btn btn-sm btn-default btn-block" data-ng-click="alert.demo6();">
        <span>
          Show me
        </span>
      </button>
    </div>
    <div class="col-sm-10">
      <button type="button" class="btn btn-sm no-bg">
        ... and by passing a parameter, you can execute something else for "Cancel".
      </button>
    </div>
  </div>
  <div class="row m-b-2">
    <div class="col-sm-2">
      <button type="button" class="btn btn-sm btn-default btn-block" data-ng-click="alert.demo7();">
        <span>
          Show me
        </span>
      </button>
    </div>
    <div class="col-sm-10">
      <button type="button" class="btn btn-sm no-bg">
        A message with a custom icon
      </button>
    </div>
  </div>
  <div class="row m-b-2">
    <div class="col-sm-2">
      <button type="button" class="btn btn-sm btn-default btn-block" data-ng-click="alert.demo8();">
        <span>
          Show me
        </span>
      </button>
    </div>
    <div class="col-sm-10">
      <button type="button" class="btn btn-sm no-bg">
        An HTML message
      </button>
    </div>
  </div>
  <div class="row m-b-2">
    <div class="col-sm-2">
      <button type="button" class="btn btn-sm btn-default btn-block" data-ng-click="alert.demo9();">
        <span>
          Show me
        </span>
      </button>
    </div>
    <div class="col-sm-10">
      <button type="button" class="btn btn-sm no-bg">
        A replacement for the "prompt" function
      </button>
    </div>
  </div>
  <div class="row m-b-2">
    <div class="col-sm-2">
      <button type="button" class="btn btn-sm btn-default btn-block" data-ng-click="alert.demo10();">
        <span>
          Show me
        </span>
      </button>
    </div>
    <div class="col-sm-10">
      <button type="button" class="btn btn-sm no-bg">
        With a loader (for AJAX request for example)
      </button>
    </div>
  </div>
</div>
