<div class="card demo-button">
  <div class="card-header no-bg b-a-0">
    Button options
  </div>
  <div class="card-block">
    <p>
      Bootstrap includes six predefined button styles, each serving its own semantic purpose.
    </p>
    <button class="btn btn-default m-r-xs m-b-xs">
      Default
    </button>
    <button type="button" class="btn btn-primary m-r-xs m-b-xs">
      Primary
    </button>
    <button type="button" class="btn btn-success m-r-xs m-b-xs">
      Success
    </button>
    <button type="button" class="btn btn-info m-r-xs m-b-xs">
      Info
    </button>
    <button type="button" class="btn btn-warning m-r-xs m-b-xs">
      Warning
    </button>
    <button type="button" class="btn btn-danger m-r-xs m-b-xs">
      Danger
    </button>
    <button type="button" class="btn btn-primary m-r-xs m-b-xs" disabled="">
      Disabled
    </button>
    <button type="button" class="btn btn-link m-r-xs m-b-xs">
      Link
    </button>
  </div>
</div>
<div class="card demo-button">
  <div class="card-header no-bg b-a-0">
    Rounded buttons
  </div>
  <div class="card-block">
    <p>
      Add css class
      <code>
        .btn-round
      </code>
    </p>
    <button class="btn btn-default btn-round m-r-xs m-b-xs">
      Default
    </button>
    <button type="button" class="btn btn-primary btn-round m-r-xs m-b-xs">
      Primary
    </button>
    <button type="button" class="btn btn-success btn-round m-r-xs m-b-xs">
      Success
    </button>
    <button type="button" class="btn btn-info btn-round m-r-xs m-b-xs">
      Info
    </button>
    <button type="button" class="btn btn-warning btn-round m-r-xs m-b-xs">
      Warning
    </button>
    <button type="button" class="btn btn-danger btn-round m-r-xs m-b-xs">
      Danger
    </button>
    <button type="button" class="btn btn-primary btn-round m-r-xs m-b-xs" disabled="">
      Disabled
    </button>
    <button type="button" class="btn btn-link m-r-xs m-b-xs" disabled="">
      Link
    </button>
  </div>
</div>
<div class="card demo-button">
  <div class="card-header no-bg b-a-0">
    Outline
  </div>
  <div class="card-block">
    <p>
      In need of a button, but not the hefty background colors they bring? Replace the default modifier classes with the
      <code>
        .btn-outline-*
      </code>
      ones to remove all background images and colors on any button.
    </p>
    <button class="btn btn-outline-default m-r-xs m-b-xs">
      Default
    </button>
    <button type="button" class="btn btn-outline-primary m-r-xs m-b-xs">
      Primary
    </button>
    <button type="button" class="btn btn-outline-success m-r-xs m-b-xs">
      Success
    </button>
    <button type="button" class="btn btn-outline-info m-r-xs m-b-xs">
      Info
    </button>
    <button type="button" class="btn btn-outline-warning m-r-xs m-b-xs">
      Warning
    </button>
    <button type="button" class="btn btn-outline-danger m-r-xs m-b-xs">
      Danger
    </button>
    <button type="button" class="btn btn-outline-primary m-r-xs m-b-xs" disabled="">
      Disabled
    </button>
    <button type="button" class="btn btn-link m-r-xs m-b-xs">
      Link
    </button>
  </div>
</div>
<div class="card">
  <div class="card-header no-bg b-a-0">
    Button dropdowns and dropups
  </div>
  <div class="card-block">
    <p>
      Turn a button into a dropdown toggle with some basic markup changes.
    </p>
    <div class="btn-group dropup m-r-xs m-b-xs" uib-dropdown>
      <button type="button" class="btn btn-danger">
        Action
      </button>
      <button type="button" class="btn btn-danger uib-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
        <span class="sr-only">
          Toggle Dropdown
        </span>
      </button>
      <div class="dropdown-menu" uib-dropdown-menu role="menu">
        <a class="dropdown-item" href="#">
          Action
        </a>
        <a class="dropdown-item" href="#">
          Another action
        </a>
        <a class="dropdown-item" href="#">
          Something else here
        </a>
        <div class="dropdown-divider">
        </div>
        <a class="dropdown-item" href="#">
          Separated link
        </a>
      </div>
    </div>
    <div class="btn-group dropup m-r-xs m-b-xs" uib-dropdown>
      <button type="button" class="btn btn-outline-danger">
        Action
      </button>
      <button type="button" class="btn btn-outline-danger uib-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
        <span class="sr-only">
          Toggle Dropdown
        </span>
      </button>
      <div class="dropdown-menu" uib-dropdown-menu role="menu">
        <a class="dropdown-item" href="#">
          Action
        </a>
        <a class="dropdown-item" href="#">
          Another action
        </a>
        <a class="dropdown-item" href="#">
          Something else here
        </a>
        <div class="dropdown-divider">
        </div>
        <a class="dropdown-item" href="#">
          Separated link
        </a>
      </div>
    </div>
    <div class="btn-group m-r-xs m-b-xs" uib-dropdown>
      <button type="button" class="btn btn-info uib-dropdown-toggle" uib-dropdown-toggle>
        Dropdown
        <span class="caret">
        </span>
      </button>
      <div class="dropdown-menu" uib-dropdown-menu role="menu">
        <a class="dropdown-item" href="#">
          Action
        </a>
        <a class="dropdown-item" href="#">
          Another action
        </a>
        <a class="dropdown-item" href="#">
          Something else here
        </a>
        <div class="dropdown-divider">
        </div>
        <a class="dropdown-item" href="#">
          Separated link
        </a>
      </div>
    </div>
    <div class="btn-group m-r-xs m-b-xs" uib-dropdown>
      <button type="button" class="btn btn-outline-info uib-dropdown-toggle" uib-dropdown-toggle>
        Dropdown
        <span class="caret">
        </span>
      </button>
      <div class="dropdown-menu" uib-dropdown-menu role="menu">
        <a class="dropdown-item" href="#">
          Action
        </a>
        <a class="dropdown-item" href="#">
          Another action
        </a>
        <a class="dropdown-item" href="#">
          Something else here
        </a>
        <div class="dropdown-divider">
        </div>
        <a class="dropdown-item" href="#">
          Separated link
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Sizing
      </div>
      <div class="card-block">
        <p>
          Fancy larger or smaller buttons? Add .btn-lg or .btn-sm for additional sizes.
        </p>
        <p>
          <a href="javascript:;" class="btn btn-info btn-lg m-r-xs">
            Large button
          </a>
          &nbsp;
          <a href="javascript:;" class="btn btn-outline-info btn-lg m-r-xs">
            Large button
          </a>
        </p>
        <p>
          <a href="javascript:;" class="btn btn-primary m-r-xs">
            Default button
          </a>
          &nbsp;
          <a href="javascript:;" class="btn btn-outline-primary m-r-xs">
            Default button
          </a>
        </p>
        <p>
          <a href="javascript:;" class="btn btn-danger btn-sm m-r-xs">
            Small button
          </a>
          &nbsp;
          <a href="javascript:;" class="btn btn-outline-danger btn-sm m-r-xs">
            Small button
          </a>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Button icons
      </div>
      <div class="card-block">
        <p>
          Custom bootstrap buttons with icons
        </p>
        <button type="button" class="btn btn-primary btn-icon loading-demo m-r-xs m-b-xs">
          <i class="material-icons">
            send
          </i>
          <span>
            Submit
          </span>
        </button>
        <button type="button" class="btn btn-danger btn-icon m-r-xs m-b-xs">
          <i class="material-icons">
            block
          </i>
          <span>
            Warning
          </span>
        </button>
        <button type="button" class="btn btn-info btn-icon m-r-xs m-b-xs">
          <i class="material-icons">
            file_upload
          </i>
          <span>
            Upload
          </span>
        </button>
        <button class="btn btn-success btn-icon-icon m-r-xs m-b-xs">
          <i class="material-icons">
            favorite
          </i>
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Block level buttons
      </div>
      <div class="card-block">
        <p>
          Create block level buttons—those that span the full width of a parent—by adding .btn-block.
        </p>
        <button type="button" class="btn btn-danger btn-lg btn-block m-b-xs">
          <span>
            Block level button
          </span>
        </button>
        <button type="button" class="btn btn-info btn-block m-b-xs">
          <span>
            Block level button
          </span>
        </button>
        <button type="button" class="btn btn-primary btn-sm btn-block m-b-xs">
          <span>
            Block level button
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Groups
      </div>
      <div class="card-block">
        <p>
          Wrap a series of buttons with .btn in .btn-group.
        </p>
        <div class="btn-group">
          <button type="button" class="btn btn-default">
            Left
          </button>
          <button type="button" class="btn btn-default">
            Middle
          </button>
          <button type="button" class="btn btn-default">
            Right
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Toolbar
      </div>
      <div class="card-block">
        <p>
          Combine sets of button groups into button toolbars for more complex components.
        </p>
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group m-r-xs m-b-xs">
            <button type="button" class="btn btn-success">
              1
            </button>
            <button type="button" class="btn btn-success">
              2
            </button>
            <button type="button" class="btn btn-success">
              3
            </button>
            <button type="button" class="btn btn-success">
              4
            </button>
          </div>
          <div class="btn-group m-r-xs m-b-xs">
            <button type="button" class="btn btn-primary">
              5
            </button>
            <button type="button" class="btn btn-primary">
              6
            </button>
            <button type="button" class="btn btn-primary">
              7
            </button>
          </div>
          <div class="btn-group m-r-xs m-b-xs">
            <button type="button" class="btn btn-warning">
              8
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Nesting
      </div>
      <div class="card-block">
        <p>
          Place a
          <code>
            .btn-group
          </code>
          within another
          <code>
            .btn-group
          </code>
          when you want dropdown menus mixed with a series of buttons.
        </p>
        <div class="btn-group">
          <button type="button" class="btn btn-default">
            1
          </button>
          <button type="button" class="btn btn-default">
            2
          </button>
          <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-default uib-dropdown-toggle" uib-dropdown-toggle>
              Dropdown
              <span class="caret">
              </span>
            </button>
            <div class="dropdown-menu" uib-dropdown-menu role="menu">
              <a class="dropdown-item" href="#">
                Action
              </a>
              <a class="dropdown-item" href="#">
                Another action
              </a>
              <a class="dropdown-item" href="#">
                Something else here
              </a>
              <div class="dropdown-divider">
              </div>
              <a class="dropdown-item" href="#">
                Separated link
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Vertical groups
      </div>
      <div class="card-block">
        <p>
          Make a set of buttons appear vertically stacked rather than horizontally. Split button dropdowns are not supported here.
        </p>
        <div class="btn-group-vertical">
          <button type="button" class="btn btn-default">
            Top
          </button>
          <button type="button" class="btn btn-default">
            Middle
          </button>
          <button type="button" class="btn btn-default">
            Bottom
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
