<div class="row">
  <div class="col-lg-6">
    <div class="card" ng-controller="RatingDemoCtrl">
      <div class="card-header no-bg b-a-0">
        Ratings
      </div>
      <div class="card-block">
        <div  class="block m-b-1">
          <a href="javascript:;" ng-click="rate = 0" ng-disabled="isReadonly" class="p-r-2">
            Clear
          </a>
          <a href="javascript:;" ng-click="isReadonly = ! isReadonly">
            Toggle Readonly
          </a>
        </div>
        <uib-rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null">
        </uib-rating>
        <span class="tag" ng-class="{'tag-warning': percent <30, 'tag-info': percent>=30 && percent <70, 'tag-success': percent>=70}" ng-show="overStar && !isReadonly">
          {{ percent }}%
        </span>

        <p style="margin:15px 0;">
          Rate:
          <b>
            {{ rate }}
          </b>
          - Readonly is:
          <i>
            {{ isReadonly }}
          </i>
          - Hovering over:
          <b>
            {{ overStar || "none" }}
          </b>
        </p>
        <p class="m-t-1">
          Custom icons
        </p>
        <div ng-init="x = 5">
          <uib-rating ng-model="x" max="15" state-on="'fa fa-star fa-1x text-warning'" state-off="'fa fa-star fa-1x'">
            star_rate
          </uib-rating>
          <b>
            (
            <i>
              Rate:
            </i>
            {{ x }})
          </b>
        </div>
      </div>
    </div>
    <div class="card" ng-controller="AccordionDemoCtrl">
      <div class="card-header no-bg b-a-0">
        Accordions
      </div>
      <div class="card-block">
        <uib-accordion close-others="oneAtATime" class="accordion block m-b-2">
          <uib-accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
            This content is straight in the template.
          </uib-accordion-group>
          <uib-accordion-group heading="{{ group.title }}" ng-repeat="group in groups">
            {{ group.content }}
          </uib-accordion-group>
          <uib-accordion-group heading="Dynamic Body Content">
            <p>
              The body of the accordion group grows to fit the contents
            </p>
            <button class="btn btn-default btn-sm m-b-xs" ng-click="addItem()">
              Add Item
            </button>
            <div ng-repeat="item in items">
              {{ item }}
            </div>
          </uib-accordion-group>
          <uib-accordion-group is-open="status.open">
            <uib-accordion-heading>
              I can have markup, too!
              <i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}">
              </i>
            </uib-accordion-heading>
            This is just some content to illustrate fancy headings.
          </uib-accordion-group>
        </uib-accordion>
        <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">
          Toggle last panel
        </button>
        <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">
          Enable / Disable first panel
        </button>
        <label class="c-input c-checkbox m-t-1 block">
          <input type="checkbox" ng-model="oneAtATime"/>
          <span class="c-indicator">
          </span>
          Open only one at a time
        </label>
      </div>
    </div>
    <div class="card" ng-controller="ButtonsCtrl">
      <div class="card-header no-bg b-a-0">
        Toggle buttons
      </div>
      <div class="card-block">
        <p>
          Single toggle
        </p>
        <button type="button" class="btn btn-default btn-sm m-r-1" ng-model="singleModel" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
          Single Toggle
        </button>
        {{ singleModel }}
        <p class="m-t-1">
          Checkbox
        </p>
        <div class="btn-group m-r-1">
          <label class="btn btn-default btn-sm" ng-model="checkModel.left" uib-btn-checkbox>
            Left
          </label>
          <label class="btn btn-default btn-sm" ng-model="checkModel.middle" uib-btn-checkbox>
            Middle
          </label>
          <label class="btn btn-default btn-sm" ng-model="checkModel.right" uib-btn-checkbox>
            Right
          </label>
        </div>
        {{ checkModel }}
        <p class="m-t-1">
          Radio &amp; Uncheckable Radio
        </p>
        <div class="btn-group m-r-1">
          <label class="btn btn-default btn-sm" ng-model="radioModel" uib-btn-radio="'Left'">
            Left
          </label>
          <label class="btn btn-default btn-sm" ng-model="radioModel" uib-btn-radio="'Middle'">
            Middle
          </label>
          <label class="btn btn-default btn-sm" ng-model="radioModel" uib-btn-radio="'Right'">
            Right
          </label>
        </div>
        {{ radioModel || 'null' }}
      </div>
    </div>
    <div class="card" ng-controller="CarouselDemoCtrl">
      <div class="card-header no-bg b-a-0">
        <div class="pull-xs-right">
          <a href="javascript:;" ng-click="addSlide()">
            Add a slide
          </a>
          <a href="javascript:;" ng-click="randomize()">
            Randomize slides
          </a>
        </div>
        Carousel
      </div>
      <div class="card-block p-a-xs">
        <div style="height: 305px">
          <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
              <img ng-src="{{slide.image}}" style="margin:auto;">
              <div class="carousel-caption">
                <h4>Slide {{slide.id}}</h4>
                <p>{{slide.text}}</p>
              </div>
            </uib-slide>
          </uib-carousel>
        </div>
        <p>
          Slide interval
        </p>
        <input type="number" class="form-control" ng-model="myInterval"/>
      </div>
    </div>
    <div class="card" ng-controller="CollapseDemoCtrl">
      <div class="card-header no-bg b-a-0">
        Collapse
      </div>
      <div class="card-block">
        <div uib-collapse="isCollapsed">
          <div class="card card-block card-primary card-inverse">
            <p class="card-text m-b-0">
              Shattered Dremland!
            </p>
          </div>
        </div>
        <a href="javascript:;"  ng-click="isCollapsed = !isCollapsed">
          Toggle collapse
        </a>
      </div>
    </div>
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Tag component
      </div>
      <div class="card-block">
        <p>
          Small and adaptive tag for adding context to just about any content.
        </p>
        <div class="m-b-1">
          <span class="tag tag-default">
            Default
          </span>
          <span class="tag tag-primary">
            Primary
          </span>
          <span class="tag tag-success">
            Success
          </span>
          <span class="tag tag-info">
            Info
          </span>
          <span class="tag tag-warning">
            Warning
          </span>
          <span class="tag tag-danger">
            Danger
          </span>
          <span class="tag bg-purple">
            1
          </span>
          <span class="tag bg-red">
            2
          </span>
        </div>
        <p>
          Tag pills
        </p>
        <p>
          Use the
          <code class="highlighter-rouge">
            .tag-pill
          </code>
          modifier class to make tags more rounded (with a larger
          <code class="highlighter-rouge">
            border-radius
          </code>
          and additional horizontal
          <code class="highlighter-rouge">
            padding
          </code>
          ). Useful if you miss the badges from v3.
        </p>
        <div>
          <span class="tag tag-pill tag-default">
            Default
          </span>
          <span class="tag tag-pill tag-primary">
            Primary
          </span>
          <span class="tag tag-pill tag-success">
            Success
          </span>
          <span class="tag tag-pill tag-info">
            Info
          </span>
          <span class="tag tag-pill tag-warning">
            Warning
          </span>
          <span class="tag tag-pill tag-danger">
            Danger
          </span>
          <span class="tag tag-pill bg-purple">
            1
          </span>
          <span class="tag tag-pill bg-red">
            2
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Breadcrumbs
      </div>
      <div class="card-block">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">
            Home
          </li>
        </ol>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">
              Home
            </a>
          </li>
          <li class="breadcrumb-item active">
            Library
          </li>
        </ol>
        <ol class="breadcrumb" style="margin-bottom: 5px;">
          <li class="breadcrumb-item">
            <a href="#">
              Home
            </a>
          </li>
          <li class="breadcrumb-item">
            <a href="#">
              Library
            </a>
          </li>
          <li class="breadcrumb-item active">
            Data
          </li>
        </ol>
      </div>
    </div>
    <div class="card" ng-controller="TypeaheadCtrl">
      <div class="card-header no-bg b-a-0">
        Typeahead
      </div>
      <div class="card-block">
        <p>
          Static arrays
        </p>
        <input type="text" ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control"/>
        {{ selected | json }}
        <p class="m-t-2">
          Asynchronous results
        </p>
        <input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" uib-typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control"/>
        <i ng-show="loadingLocations" class="material-icons">
          refresh
        </i>
        {{ asyncSelected | json }}
        <p class="m-t-2">
          Custom templates for results
        </p>
        <input type="text" ng-model="customSelected" placeholder="Custom template" uib-typeahead="state as state.name for state in statesWithFlags | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control"/>
        {{ customSelected | json }}
      </div>
    </div>
    <div class="card" ng-controller="DatepickerDemoCtrl">
      <div class="card-header no-bg b-a-0">
        Datepicker
      </div>
      <div class="card-block">
        <p>
          {{ dt | date:'fullDate' }}
        </p>
        <div class="inline">
          <uib-datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="ui-datepicker">
          </uib-datepicker>
        </div>
        <p class="m-t-2">
          Popup
        </p>
        <div class="row">
          <div class="col-md-6">
            <p class="input-group ui-datepicker">
              <input type="text" class="form-control input-sm" uib-datepicker-popup="{{ format }}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)">
                  <i class="material-icons">
                    date_range
                  </i>
                </button>
              </span>
            </p>
          </div>
          <div class="col-md-6">
            <select class="custom-select" ng-model="format" ng-options="f for f in formats">
              <option>
              </option>
            </select>
          </div>
        </div>
        <button type="button" class="btn btn-info btn-sm" ng-click="today()">
          Today
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="dt = '2009-08-24'">
          2009-08-24
        </button>
        <button type="button" class="btn btn-danger btn-sm" ng-click="clear()">
          Clear
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="toggleMin()" uib-tooltip="After today restriction">
          Min date
        </button>
      </div>
    </div>
    <div class="card" ng-controller="TimepickerDemoCtrl">
      <div class="card-header no-bg b-a-0">
        Timepicker
      </div>
      <div class="card-block">
        <div class="alert alert-info">
          Time is: {{ mytime | date:'shortTime' }}
        </div>
        <uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian">
        </uib-timepicker>
        <div class="row m-b-1">
          <div class="col-xs-6">
            Hours step is:
            <select class="custom-select btn-block" ng-model="hstep" ng-options="opt for opt in options.hstep">
            </select>
          </div>
          <div class="col-xs-6">
            Minutes step is:
            <select class="custom-select btn-block" ng-model="mstep" ng-options="opt for opt in options.mstep">
            </select>
          </div>
        </div>
        <button class="btn btn-info btn-sm" ng-click="toggleMode()">
          12H / 24H
        </button>
        <button class="btn btn-default btn-sm" ng-click="update()">
          Set to 14:00
        </button>
        <button class="btn btn-danger btn-sm" ng-click="clear()">
          Clear
        </button>
      </div>
    </div>
    <div class="card" ng-controller="ModalDemoCtrl">
      <div class="card-header no-bg b-a-0">
        Modal
      </div>
      <div class="card-block">
        <button class="btn btn-default btn-sm" ng-click="open()">
          Open modal!
        </button>
        <button class="btn btn-default btn-sm" ng-click="open('lg')">
          Open large modal
        </button>
        <button class="btn btn-default btn-sm" ng-click="open('sm')">
          Open small modal
        </button>
        <div ng-show="selected" class="m-t-1">
          Selection from a modal: {{ selected }}
        </div>
      </div>
    </div>
    <div class="card" ng-controller="TooltipDemoCtrl">
      <div class="card-header no-bg b-a-0">
        Popovers &amp; tooltips
      </div>
      <div class="card-block demo-links">
        <div class="m-b-1" ng-controller="PopoverDemoCtrl">
          <a href="javascript:;" popover-placement="top" popover="On the Top!" class="text-success m-r-1 m-b-xs">
            Top Popover
          </a>
          <a href="javascript:;" popover-placement="left" popover="On the Left!" class="text-primary m-r-1 m-b-xs">
            Left Popover
          </a>
          <a href="javascript:;" popover-placement="right" popover="On the Right!" class="text-info m-r-1 m-b-xs">
            Right Popover
          </a>
          <a href="javascript:;" popover-placement="bottom" popover="On the Bottom!" class="text-danger m-r-1 m-b-xs">
            Bottom Popover
          </a>
        </div>
        <div ng-controller="TooltipDemoCtrl">
          <a href="#" class="text-pink m-r-1 m-b-xs" tooltip-placement="top" uib-tooltip="On the Top!">
            Tooltip on top
          </a>
          <a href="#" class="text-primary m-r-1 m-b-xs" tooltip-placement="right" uib-tooltip="On the Right!">
            Tooltip on right
          </a>
          <a href="#" class="text-success m-r-1 m-b-xs" tooltip-placement="bottom" uib-tooltip="On the Bottom!">
            Tooltip on bottom
          </a>
          <a href="#" class="text-info m-r-1 m-b-xs" tooltip-placement="left" uib-tooltip="On the Left!">
            Tooltip on left
          </a>
          <a href="#" class="text-warning m-r-1 m-b-xs" uib-tooltip-html="htmlTooltip">
            Check me out!
          </a>
          <a href="#" class="text-danger m-r-1 m-b-xs" tooltip-placement="bottom" tooltip-popup-delay='1000' uib-tooltip='appears with delay'>
            Tooltip with delay
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title"> I'm a modal!</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li ng-repeat="item in items">
        <a ng-click="selected.item = item">{{ item }}</a>
      </li>
    </ul>
    Selected: <b>{{ selected.item }}</b>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
<script type="text/ng-template" id="customTemplate.html">
  <a>
    <img data-ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>
<script id="uib/template/accordion/accordion-group.html" type="text/ng-template">
  <div class="panel m-b-1 {{panelClass || 'panel-default'}}">
    <div class="panel-heading" ng-keypress="toggleOpen($event)">
      <h6 class="panel-title">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
      </h6>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" ng-transclude></div>
    </div>
  </div>
</script>
<script id="uib/template/carousel/carousel.html" type="text/ng-template">
    <div ng-mouseenter="pause()" ng-mouseleave="play()" class="carousel slide" ng-swipe-right="prev()" ng-swipe-left="next()">
      <div class="carousel-inner" ng-transclude></div>
      <a role="button" href class="left carousel-control" ng-click="prev()" ng-show="slides.length > 1">
        <span aria-hidden="true" class="icon-prev"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a role="button" href class="right carousel-control" ng-click="next()" ng-show="slides.length > 1">
        <span aria-hidden="true" class="icon-next"></span>
        <span class="sr-only">Next</span>
      </a>
      <ol class="carousel-indicators" ng-show="slides.length > 1">
        <li ng-repeat="slide in slides | orderBy:indexOfSlide track by $index" ng-class="{ active: isActive(slide) }" ng-click="select(slide)">
          <span class="sr-only">slide {{ $index + 1 }} of {{ slides.length }}<span ng-if="isActive(slide)">, currently active</span></span>
        </li>
      </ol>
    </div>
</script>
<script id="uib/template/carousel/slide.html" type="text/ng-template">
    <div ng-class="{'active': active}" class="carousel-item text-center" ng-transclude></div>
</script>
<script id="uib/template/timepicker/timepicker.html" type="text/ng-template">
  <table class="ui-timepicker">
    <tbody>
      <tr class="text-center" ng-show="::showSpinners">
        <td><a ng-click="incrementHours()" ng-class="{disabled: noIncrementHours()}" class="btn btn-link" ng-disabled="noIncrementHours()" tabindex="{{::tabindex}}"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
        <td>&nbsp;</td>
        <td><a ng-click="incrementMinutes()" ng-class="{disabled: noIncrementMinutes()}" class="btn btn-link" ng-disabled="noIncrementMinutes()" tabindex="{{::tabindex}}"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
        <td ng-show="showMeridian"></td>
      </tr>
      <tr>
        <td class="form-group" ng-class="{'has-error': invalidHours}">
          <input style="width:50px;" type="text" ng-model="hours" ng-change="updateHours()" class="form-control text-center" ng-readonly="::readonlyInput" maxlength="2" tabindex="{{::tabindex}}">
        </td>
        <td>:</td>
        <td class="form-group" ng-class="{'has-error': invalidMinutes}">
          <input style="width:50px;" type="text" ng-model="minutes" ng-change="updateMinutes()" class="form-control text-center" ng-readonly="::readonlyInput" maxlength="2" tabindex="{{::tabindex}}">
        </td>
        <td ng-show="showMeridian"><button type="button" ng-class="{disabled: noToggleMeridian()}" class="btn btn-default text-center" ng-click="toggleMeridian()" ng-disabled="noToggleMeridian()" tabindex="{{::tabindex}}">{{meridian}}</button></td>
      </tr>
      <tr class="text-center" ng-show="::showSpinners">
        <td><a ng-click="decrementHours()" ng-class="{disabled: noDecrementHours()}" class="btn btn-link" ng-disabled="noDecrementHours()" tabindex="{{::tabindex}}"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
        <td>&nbsp;</td>
        <td><a ng-click="decrementMinutes()" ng-class="{disabled: noDecrementMinutes()}" class="btn btn-link" ng-disabled="noDecrementMinutes()" tabindex="{{::tabindex}}"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
        <td ng-show="showMeridian"></td>
      </tr>
    </tbody>
  </table>
</script>
<script id="uib/template/typeahead/typeahead-match.html" type="text/ng-template">
  <a href tabindex="-1" ng-bind-html="match.label | uibTypeaheadHighlight:query"></a>
</script>
<script id="uib/template/typeahead/typeahead-popup.html" type="text/ng-template">
  <ul class="dropdown-menu" ng-show="isOpen() && !moveInProgress" ng-style="{top: position().top+'px', left: position().left+'px'}" style="display: block;" role="listbox" aria-hidden="{{!isOpen()}}">
      <li class="dropdown-item" ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
          <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
  </ul>
</script>
