<div data-ng-controller="sliderCtrl as slider">
  <div class="card">
    <div class="card-header no-bg b-a-0">
      Slider variants
    </div>
    <div class="card-block">
      <p>
        Basic slider
      </p>
      <div class="slider" ui-jq="slider" ui-options="slider.sliderOpt1">
      </div>
      <p>
        Range sliders
      </p>
      <div class="slider slider-primary" ui-jq="slider" ui-options="slider.sliderOpt2">
      </div>
      <p>
        Rounded handlers
      </p>
      <div class="slider slider-danger rounded-handler" ui-jq="slider" ui-options="slider.sliderOpt3">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header no-bg b-a-0">
      Slider color and orientation options
    </div>
    <div class="card-block">
      <div class="sliders">
        <div class="slider slider-default" ui-jq="slider" ui-options="slider.sliderOpt1">
        </div>
        <br/>
        <div class="slider slider-primary" ui-jq="slider" ui-options="slider.sliderOpt7">
        </div>
        <br/>
        <div class="slider slider-info" ui-jq="slider" ui-options="slider.sliderOpt8">
        </div>
        <br/>
        <div class="slider slider-warning" ui-jq="slider" ui-options="slider.sliderOpt9">
        </div>
        <br/>
        <div class="slider slider-danger" ui-jq="slider" ui-options="slider.sliderOpt10">
        </div>
        <br/>
        <div class="slider slider-success" ui-jq="slider" ui-options="slider.sliderOpt11">
        </div>
      </div>
      <hr/>
      <div class="sliders text-xs-center">
        <div style="display: inline-block;">
          <div class="slider slider-default m-x-1" ui-jq="slider" ui-options="slider.sliderOpt12">
          </div>
          <div class="slider slider-primary m-x-1" ui-jq="slider" ui-options="slider.sliderOpt13">
          </div>
          <div class="slider slider-info m-x-1" ui-jq="slider" ui-options="slider.sliderOpt14">
          </div>
          <div class="slider slider-warning m-x-1" ui-jq="slider" ui-options="slider.sliderOpt15">
          </div>
          <div class="slider slider-danger m-x-1" ui-jq="slider" ui-options="slider.sliderOpt16">
          </div>
          <div class="slider slider-success m-x-1" ui-jq="slider" ui-options="slider.sliderOpt17">
          </div>
        </div>
        <div style="display: inline-block;">
          <div class="slider slider-default m-x-1 rounded-handler" ui-jq="slider" ui-options="slider.sliderOpt17">
          </div>
          <div class="slider slider-primary m-x-1 rounded-handler" ui-jq="slider" ui-options="slider.sliderOpt16">
          </div>
          <div class="slider slider-info m-x-1 rounded-handler" ui-jq="slider" ui-options="slider.sliderOpt15">
          </div>
          <div class="slider slider-warning m-x-1 rounded-handler" ui-jq="slider" ui-options="slider.sliderOpt14">
          </div>
          <div class="slider slider-danger m-x-1 rounded-handler" ui-jq="slider" ui-options="slider.sliderOpt13">
          </div>
          <div class="slider slider-success m-x-1 rounded-handler" ui-jq="slider" ui-options="slider.sliderOpt12">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
