<div class="card card-block">
  <div class="row">
    <div class="col-lg-6">
      <h6 class="m-b-1">
        Social buttons
      </h6>
      <div class="row">
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-adn">
            <i class="fa fa-adn">
            </i>
            Sign in with App.net
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-bitbucket">
            <i class="fa fa-bitbucket">
            </i>
            Sign in with Bitbucket
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-dropbox">
            <i class="fa fa-dropbox">
            </i>
            Sign in with Dropbox
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-facebook">
            <i class="fa fa-facebook">
            </i>
            Sign in with Facebook
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-flickr">
            <i class="fa fa-flickr">
            </i>
            Sign in with Flickr
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-foursquare">
            <i class="fa fa-foursquare">
            </i>
            Sign in with Foursquare
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-github">
            <i class="fa fa-github">
            </i>
            Sign in with GitHub
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-google">
            <i class="fa fa-google-plus">
            </i>
            Sign in with Google
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-instagram">
            <i class="fa fa-instagram">
            </i>
            Sign in with Instagram
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-linkedin">
            <i class="fa fa-linkedin">
            </i>
            Sign in with LinkedIn
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-microsoft">
            <i class="fa fa-windows">
            </i>
            Sign in with Microsoft
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-odnoklassniki">
            <i class="fa fa-odnoklassniki">
            </i>
            Sign in with Odnoklassniki
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-openid">
            <i class="fa fa-openid">
            </i>
            Sign in with OpenID
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-pinterest">
            <i class="fa fa-pinterest">
            </i>
            Sign in with Pinterest
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-reddit">
            <i class="fa fa-reddit">
            </i>
            Sign in with Reddit
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-soundcloud">
            <i class="fa fa-soundcloud">
            </i>
            Sign in with SoundCloud
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-tumblr">
            <i class="fa fa-tumblr">
            </i>
            Sign in with Tumblr
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-twitter">
            <i class="fa fa-twitter">
            </i>
            Sign in with Twitter
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-vimeo">
            <i class="fa fa-vimeo-square">
            </i>
            Sign in with Vimeo
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-vk">
            <i class="fa fa-vk">
            </i>
            Sign in with VK
          </button>
        </div>
        <div class="col-sm-6 m-b-1">
          <button class="btn btn-block btn-icon btn-yahoo">
            <i class="fa fa-yahoo">
            </i>
            Sign in with Yahoo!
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <h6 class="m-b-1">
        Icon buttons
      </h6>
      <div>
        <button class="btn btn-icon-icon btn-adn m-b-1 m-r-1">
          <i class="fa fa-adn">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-bitbucket m-b-1 m-r-1">
          <i class="fa fa-bitbucket">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-dropbox m-b-1 m-r-1">
          <i class="fa fa-dropbox">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-facebook m-b-1 m-r-1">
          <i class="fa fa-facebook">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-flickr m-b-1 m-r-1">
          <i class="fa fa-flickr">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-foursquare m-b-1 m-r-1">
          <i class="fa fa-foursquare">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-github m-b-1 m-r-1">
          <i class="fa fa-github">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-google m-b-1 m-r-1">
          <i class="fa fa-google-plus">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-instagram m-b-1 m-r-1">
          <i class="fa fa-instagram">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-linkedin m-b-1 m-r-1">
          <i class="fa fa-linkedin">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-microsoft m-b-1 m-r-1">
          <i class="fa fa-windows">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-odnoklassniki m-b-1 m-r-1">
          <i class="fa fa-odnoklassniki">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-openid m-b-1 m-r-1">
          <i class="fa fa-openid">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-pinterest m-b-1 m-r-1">
          <i class="fa fa-pinterest">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-reddit m-b-1 m-r-1">
          <i class="fa fa-reddit">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-soundcloud m-b-1 m-r-1">
          <i class="fa fa-soundcloud">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-tumblr m-b-1 m-r-1">
          <i class="fa fa-tumblr">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-twitter m-b-1 m-r-1">
          <i class="fa fa-twitter">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-vimeo m-b-1 m-r-1">
          <i class="fa fa-vimeo-square">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-vk m-b-1 m-r-1">
          <i class="fa fa-vk">
          </i>
        </button>
        <button class="btn btn-icon-icon btn-yahoo m-b-1 m-r-1">
          <i class="fa fa-yahoo">
          </i>
        </button>
      </div>
      <h6 class="m-b-1 m-t-1">
        Sizes
      </h6>
      <div>
        <button class="btn btn-block btn-icon btn-lg btn-adn m-b-1">
          <i class="fa fa-adn">
          </i>
          Sign in with App.net
        </button>
        <button class="btn btn-block btn-icon btn-adn m-b-1">
          <i class="fa fa-adn">
          </i>
          Sign in with App.net
        </button>
        <button class="btn btn-block btn-icon btn-sm btn-adn m-b-1">
          <i class="fa fa-adn">
          </i>
          Sign in with App.net
        </button>
        <div class="text-center m-t-1">
          <button class="btn btn-icon-icon btn-lg btn-adn">
            <i class="fa fa-adn">
            </i>
          </button>
          <button class="btn btn-icon-icon btn-adn m-r-1 m-l-1">
            <i class="fa fa-adn">
            </i>
          </button>
          <button class="btn btn-icon-icon btn-sm btn-adn">
            <i class="fa fa-adn">
            </i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
