<h6 class="text-center m-b-1">
  Spinkit
</h6>
<div class="row demo-spinkit">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Rotate plane
      </div>
      <div class="card-block">
        <div class="sk-rotating-plane center-block">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Double bounce
      </div>
      <div class="card-block">
        <div class="sk-double-bounce center-block">
          <div class="sk-child sk-double-bounce1">
          </div>
          <div class="sk-child sk-double-bounce2">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Wave
      </div>
      <div class="card-block">
        <div class="sk-wave center-block">
          <div class="sk-rect sk-rect1">
          </div>
          <div class="sk-rect sk-rect2">
          </div>
          <div class="sk-rect sk-rect3">
          </div>
          <div class="sk-rect sk-rect4">
          </div>
          <div class="sk-rect sk-rect5">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Wandering cubes
      </div>
      <div class="card-block">
        <div class="sk-wandering-cubes center-block">
          <div class="sk-cube sk-cube1">
          </div>
          <div class="sk-cube sk-cube2">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Spinner pulse
      </div>
      <div class="card-block">
        <div class="sk-spinner sk-spinner-pulse center-block">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Chasing dots
      </div>
      <div class="card-block">
        <div class="sk-chasing-dots center-block">
          <div class="sk-child sk-dot1">
          </div>
          <div class="sk-child sk-dot2">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Circle
      </div>
      <div class="card-block">
        <div class="sk-circle center-block">
          <div class="sk-circle1 sk-child">
          </div>
          <div class="sk-circle2 sk-child">
          </div>
          <div class="sk-circle3 sk-child">
          </div>
          <div class="sk-circle4 sk-child">
          </div>
          <div class="sk-circle5 sk-child">
          </div>
          <div class="sk-circle6 sk-child">
          </div>
          <div class="sk-circle7 sk-child">
          </div>
          <div class="sk-circle8 sk-child">
          </div>
          <div class="sk-circle9 sk-child">
          </div>
          <div class="sk-circle10 sk-child">
          </div>
          <div class="sk-circle11 sk-child">
          </div>
          <div class="sk-circle12 sk-child">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Cube grid
      </div>
      <div class="card-block">
        <div class="sk-cube-grid center-block">
          <div class="sk-cube sk-cube1">
          </div>
          <div class="sk-cube sk-cube2">
          </div>
          <div class="sk-cube sk-cube3">
          </div>
          <div class="sk-cube sk-cube4">
          </div>
          <div class="sk-cube sk-cube5">
          </div>
          <div class="sk-cube sk-cube6">
          </div>
          <div class="sk-cube sk-cube7">
          </div>
          <div class="sk-cube sk-cube8">
          </div>
          <div class="sk-cube sk-cube9">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Fading circle
      </div>
      <div class="card-block">
        <div class="sk-fading-circle center-block">
          <div class="sk-circle1 sk-circle">
          </div>
          <div class="sk-circle2 sk-circle">
          </div>
          <div class="sk-circle3 sk-circle">
          </div>
          <div class="sk-circle4 sk-circle">
          </div>
          <div class="sk-circle5 sk-circle">
          </div>
          <div class="sk-circle6 sk-circle">
          </div>
          <div class="sk-circle7 sk-circle">
          </div>
          <div class="sk-circle8 sk-circle">
          </div>
          <div class="sk-circle9 sk-circle">
          </div>
          <div class="sk-circle10 sk-circle">
          </div>
          <div class="sk-circle11 sk-circle">
          </div>
          <div class="sk-circle12 sk-circle">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Folding cube
      </div>
      <div class="card-block">
        <div class="sk-folding-cube center-block">
          <div class="sk-cube1 sk-cube">
          </div>
          <div class="sk-cube2 sk-cube">
          </div>
          <div class="sk-cube4 sk-cube">
          </div>
          <div class="sk-cube3 sk-cube">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Three bounce
      </div>
      <div class="card-block">
        <div class="sk-three-bounce center-block">
          <div class="sk-child sk-bounce1">
          </div>
          <div class="sk-child sk-bounce2">
          </div>
          <div class="sk-child sk-bounce3">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h6 class="text-center m-b-1 m-t-1">
  loaders.css
</h6>
<div class="row demo-spinners">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball pulse
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-pulse">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball grid pulse
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-grid-pulse">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball clip rotate
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-clip-rotate">
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball clip rotate pulse
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-clip-rotate-pulse">
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Square spin
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner square-spin">
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        ball clip rotate multiple
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-clip-rotate-multiple">
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball pulse rise
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-pulse-rise">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball rotate
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-rotate">
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Cude transition
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner cube-transition">
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball zig zag
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-zig-zag">
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball zig zag deflect
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-zig-zag-deflect">
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball triangle path
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-triangle-path">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball scale
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-scale">
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Line scale
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner line-scale">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Line scale party
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner line-scale-party">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball scale multiple
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-scale-multiple">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball pulse sync
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-pulse-sync">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball beat
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-beat">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Line scale pulse out
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner line-scale-pulse-out">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Line scale pulse out rapid
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner line-scale-pulse-out-rapid">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball scale ripple
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-scale-ripple">
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball scale ripple multiple
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-scale-ripple-multiple">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball spin fade loader
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-spin-fade-loader">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Line spin fade loader
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner line-spin-fade-loader">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Triangle skew spin
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner triangle-skew-spin">
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Pacman
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner pacman">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Semi-circle spin
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner semi-circle-spin">
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball grid beat
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-grid-beat">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header no-bg b-a-0">
        Ball scale random
      </div>
      <div class="card-block">
        <div class="loader text-center">
          <div class="loader-inner ball-scale-random">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
