<div class="row draggable-portlets-wrapper" data-ng-controller="draggablePortletsCtrl as draggable">
  <div class="col-lg-4 draggable-portlets" ui-jq="sortable" ui-options="draggable.draggableOpt">
    <div class="card card-success card-inverse portlet">
      <div class="card-header portlet-heading">
        Draggable portlet one
      </div>
      <div class="card-block portlet-content">
        <p class="card-text">
          Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
        <p class="card-text">
          Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        </p>
      </div>
    </div>
    <div class="card card-info card-inverse portlet">
      <div class="card-header portlet-heading">
        Draggable portlet two
      </div>
      <div class="card-block portlet-content">
        <p class="card-text">
          Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
        <p class="card-text">
          Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 draggable-portlets" ui-jq="sortable" ui-options="draggable.draggableOpt">
    <div class="card card-danger card-inverse portlet">
      <div class="card-header portlet-heading">
        Draggable portlet three
      </div>
      <div class="card-block portlet-content">
        <p class="card-text">
          Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
        <p class="card-text">
          Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        </p>
      </div>
    </div>
    <div class="card card-primary card-inverse portlet">
      <div class="card-header portlet-heading">
        Draggable portlet four
      </div>
      <div class="card-block portlet-content">
        <p class="card-text">
          Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
        <p class="card-text">
          Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 draggable-portlets" ui-jq="sortable" ui-options="draggable.draggableOpt">
    <div class="card card-warning card-inverse portlet">
      <div class="card-header portlet-heading">
        Draggable portlet five
      </div>
      <div class="card-block portlet-content">
        <p class="card-text">
          Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
        <p class="card-text">
          Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        </p>
      </div>
    </div>
    <div class="card portlet">
      <div class="card-header portlet-heading">
        Draggable portlet six
      </div>
      <div class="card-block portlet-content">
        <p class="card-text">
          Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        </p>
        <p class="card-text">
          Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        </p>
      </div>
    </div>
  </div>
</div>
