<div class="card" data-ng-controller="tableCtrl as datatable">
  <div class="card-header no-bg b-a-0">
    Datatables
  </div>
  <div class="card-block">
    <table class="table table-bordered table-condensed datatable m-b-0" ui-jq="dataTable" ui-options="datatable.dataTableOpt">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Position
          </th>
          <th>
            Office
          </th>
          <th>
            Age
          </th>
          <th>
            Start Date
          </th>
        </tr>
      </thead>
    </table>
  </div>
</div>
