<div data-ng-controller="tableEditableCtrl as editable">
  <div class="card">
    <div class="card-header no-bg b-a-0">
      HTML5 inputs
    </div>
    <div class="card-block">
      <p>
        Email:
        <a href="#" editable-email="editable.user.email">
          {{ editable.user.email || 'empty' }}
        </a>
      </p>
      <p>
        Tel:
        <a href="#" editable-tel="editable.user.tel" e-pattern="\d{3}\-\d{2}\-\d{2}" e-title="xxx-xx-xx">
          {{ editable.user.tel || 'empty' }}
        </a>
      </p>
      <p>
        Number:
        <a href="#" editable-number="editable.user.number" e-min="18">
          {{ editable.user.number || 'empty' }}
        </a>
      </p>
      <p>
        Range:
        <a href="#" editable-range="editable.user.range" e-step="5">
          {{ editable.user.range || 'empty' }}
        </a>
      </p>
      <p>
        Url:
        <a href="#" editable-url="editable.user.url">
          {{ editable.user.url || 'empty' }}
        </a>
      </p>
      <p>
        Search:
        <a href="#" editable-search="editable.user.search">
          {{ editable.user.search || 'empty' }}
        </a>
      </p>
      <p>
        Color:
        <a href="#" editable-color="editable.user.color">
          {{ editable.user.color || 'empty' }}
        </a>
      </p>
      <p>
        Date:
        <a href="#" editable-date="editable.user.date">
          {{ editable.user.date || 'empty' }}
        </a>
      </p>
      <p>
        Time:
        <a href="#" editable-time="editable.user.time">
          {{ editable.user.time || 'empty' }}
        </a>
      </p>
      <p>
        Datetime:
        <a href="#" editable-datetime="editable.user.datetime">
          {{ editable.user.datetime || 'empty' }}
        </a>
      </p>
      <p>
        Month:
        <a href="#" editable-month="editable.user.month">
          {{ editable.user.month || 'empty' }}
        </a>
      </p>
      <p>
        Week:
        <a href="#" editable-week="editable.user.week">
          {{ editable.user.week || 'empty' }}
        </a>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header no-bg b-a-0">
      <a class="pull-right" ng-click="editable.addUser()" href="javascript:;">
        Add row
      </a>
      Editable row
    </div>
    <div class="card-block">
      <table class="table table-bordered align-middle">
        <tr>
          <td style="width:35%">
            Name
          </td>
          <td style="width:20%">
            Status
          </td>
          <td style="width:20%">
            Group
          </td>
          <td style="width:25%">
            Edit
          </td>
        </tr>
        <tr ng-repeat="user in editable.users">
          <td>
            <!-- editable username (text with validation) -->
            <span editable-text="user.name" e-name="name" e-form="rowform" onbeforesave="editable.checkName($data, user.id)" e-required>
              {{ user.name || 'empty' }}
            </span>
          </td>
          <td>
            <!-- editable status (select-local) -->
            <span editable-select="user.status" e-name="status" e-form="rowform" e-ng-options="s.value as s.text for s in editable.statuses">
              {{ editable.showStatus(user) }}
            </span>
          </td>
          <td>
            <!-- editable group (select-remote) -->
            <span editable-select="user.group" e-name="group" onshow="editable.loadGroups()" e-form="rowform" e-ng-options="g.id as g.text for g in editable.groups">
              {{ editable.showGroup(user) }}
            </span>
          </td>
          <td style="white-space: nowrap">
            <!-- form -->
            <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
              <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-sm">
                save
              </button>
              <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default btn-sm">
                cancel
              </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
              <button class="btn btn-primary btn-sm" ng-click="rowform.$show()">
                edit
              </button>
              <button class="btn btn-danger btn-sm" ng-click="editable.removeUser($index)">
                del
              </button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header no-bg b-a-0">
      Editable column
    </div>
    <div class="card-block">
      <table class="table table-bordered align-middle">
        <tr>
          <!-- username header -->
          <td style="width:40%">
            Name
            <form editable-form name="nameform" onaftersave="editable.saveColumn('name')" ng-show="nameform.$visible">
              <button type="submit" ng-disabled="nameform.$waiting" class="btn btn-primary btn-sm">
                save
              </button>
              <button type="button" ng-disabled="nameform.$waiting" ng-click="nameform.$cancel()" class="btn btn-default btn-sm">
                cancel
              </button>
            </form>
            <button class="btn btn-default btn-sm" ng-show="!nameform.$visible" ng-click="nameform.$show()">
              edit
            </button>
          </td>
          <!-- status header -->
          <td style="width:30%">
            Status
            <form editable-form name="statusform" onaftersave="editable.saveColumn('status')" ng-show="statusform.$visible">
              <button type="submit" ng-disabled="statusform.$waiting" class="btn btn-primary btn-sm">
                save
              </button>
              <button type="button" ng-disabled="statusform.$waiting" ng-click="statusform.$cancel()" class="btn btn-default btn-sm">
                cancel
              </button>
            </form>
            <button class="btn btn-default btn-sm" ng-show="!statusform.$visible" ng-click="statusform.$show()">
              edit
            </button>
          </td>
          <!-- group header -->
          <td style="width:30%">
            Group
            <form editable-form name="groupform" onaftersave="editable.saveColumn('group')" ng-show="groupform.$visible">
              <button type="submit" ng-disabled="groupform.$waiting" class="btn btn-primary btn-sm">
                save
              </button>
              <button type="button" ng-disabled="groupform.$waiting" ng-click="groupform.$cancel()" class="btn btn-default btn-sm">
                cancel
              </button>
            </form>
            <button class="btn btn-default btn-sm" ng-show="!groupform.$visible" ng-click="editable.groupform.$show()">
              edit
            </button>
          </td>
        </tr>
        <tr ng-repeat="user in editable.users">
          <td>
            <!-- editable username (text with validation) -->
            <span editable-text="user.name" e-name="name" e-form="nameform" onbeforesave="editable.checkName2($data)">
              {{ user.name || 'empty' }}
            </span>
          </td>
          <td>
            <!-- editable status (select-local) -->
            <span editable-select="user.status" e-name="status" e-form="statusform" e-ng-options="s.value as s.text for s in editable.statuses">
              {{ editable.showStatus(user) }}
            </span>
          </td>
          <td>
            <!-- editable group (select-remote) -->
            <span editable-select="user.group" e-name="group" onshow="editable.loadGroups()" e-form="groupform" e-ng-options="g.id as g.text for g in groups">
              {{ editable.showGroup(user) }}
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header no-bg b-a-0">
      <!-- buttons -->
      <div class="pull-right">
        <div class="btn-edit">
          <a href="javascript:;" ng-show="!tableform.$visible" ng-click="tableform.$show()">
            edit
          </a>
        </div>
        <div class="btn-form" ng-show="tableform.$visible">
          <button type="button" ng-disabled="tableform.$waiting" ng-click="editable.addUser2()" class="btn btn-default btn-sm">
            add row
          </button>
          <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary btn-sm">
            save
          </button>
          <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default btn-sm">
            cancel
          </button>
        </div>
      </div>
      Editable table
    </div>
    <div class="card-block">
      <form editable-form name="tableform" onaftersave="saveTable()" oncancel="editable.cancel()">
        <table class="table table-bordered align-middle m-b-0">
          <tr>
            <td style="width:40%">
              Name
            </td>
            <td style="width:30%">
              Status
            </td>
            <td style="width:30%">
              Group
            </td>
            <td style="width:30%">
              <span ng-show="tableform.$visible">
                Action
              </span>
            </td>
          </tr>
          <tr ng-repeat="user in editable.users | filter:filterUser">
            <td>
              <!-- editable username (text with validation) -->
              <span editable-text="user.name" e-form="tableform" onbeforesave="editable.checkName3($data, user.id)">
                {{ user.name || 'empty' }}
              </span>
            </td>
            <td>
              <!-- editable status (select-local) -->
              <span editable-select="user.status" e-form="tableform" e-ng-options="s.value as s.text for s in editable.statuses">
                {{ editable.showStatus(user) }}
              </span>
            </td>
            <td>
              <!-- editable group (select-remote) -->
              <span editable-select="user.group" e-form="tableform" onshow="editable.loadGroups()" e-ng-options="g.id as g.text for g in editable.groups">
                {{ editable.showGroup(user) }}
              </span>
            </td>
            <td>
              <button type="button" ng-show="tableform.$visible" ng-click="editable.deleteUser(user.id)" class="btn btn-danger btn-sm pull-right">
                Del
              </button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
