{
 "rules": {
    "camelcase": "off",
    "no-new": "off",
    "new-cap": "off"
  },
  "globals": {
    "angular": false,
    "moment": false,
    "google": false,
    "Rickshaw": false,
    "d3": false,
    "c3": false,
    "noty": false,
    "swal": false,
    "FastClick": false,
    "Sortable": false,
    "jQuery": false,
    "$": false,
    "FileAPI": false,
    "Bloodhound": false,
    "Chart": false,
    "gdpData": false
  }
}
