<div class="card">
  <div class="card-block">
    <div class="p-b-2 clearfix">
      <div class="pull-right text-xs-right">
        <h5 class="bold m-b-0">
          Invoice #0001
        </h5>
        <p class="m-b-0">
          Issued on 01 Jun 2016
        </p>
        <p class="m-b-0">
          Payment due by 31 May 2016
        </p>
      </div>
      <div class="circle-icon bg-success text-white m-r-1">
        <i class="material-icons">
          archive
        </i>
      </div>
      <div class="overflow-hidden">
        <p class="m-b-0">
          Company LLC
        </p>
        <p class="m-b-0">
          company@address.com
        </p>
        <p class="m-b-0">
          +012 345 678 90
        </p>
      </div>
    </div>
    <div class="p-t-2 p-b-2 clearfix">
      <img data-ng-src="{{ main.user.avatar }}" class="avatar avatar-sm img-circle m-r-1 pull-left" alt="user" title="user"/>
      <div class="overflow-hidden">
        <p class="m-b-0">
          <strong>
            Client Details
          </strong>
        </p>
        <p class="m-b-0">
          John Smith
        </p>
        <p class="m-b-0">
          1234 Main
        </p>
        <p class="m-b-0">
          Apt. 4B
        </p>
        <p class="m-b-0">
          Springfield, ST 54321
        </p>
      </div>
    </div>
    <div class="table-responsive p-t-2 p-b-2">
      <table class="table table-bordered m-b-0">
        <thead>
          <tr>
            <th>
              Description
            </th>
            <th>
              Unit Price
            </th>
            <th>
              Quantity
            </th>
            <th>
              Amount
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Monthly web updates for http://www.themeforest.net
            </td>
            <td>
              $250.00
            </td>
            <td>
              1
            </td>
            <td>
              $250.00
            </td>
          </tr>
          <tr>
            <td>
              Monthly dedicated VPN web hosting (1 Jan - 30 Jan, 2014)
            </td>
            <td>
              $650.00
            </td>
            <td>
              1
            </td>
            <td>
              $650.00
            </td>
          </tr>
          <tr>
            <td>
              2 year domain name purchase
            </td>
            <td>
              $239.99
            </td>
            <td>
              3
            </td>
            <td>
              $719.97
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="invoice-totals p-t-2 p-b-2">
      <div class="invoice-totals-row">
        <strong class="invoice-totals-title">
          Subtotal
        </strong>
        <span class="invoice-totals-value">
          $1619.97
        </span>
      </div>
      <div class="invoice-totals-row">
        <strong class="invoice-totals-title">
          Total
        </strong>
        <span class="invoice-totals-value">
          $1619.97
        </span>
      </div>
      <div class="invoice-totals-row">
        <strong class="invoice-totals-title">
          Amount Paid
        </strong>
        <span class="invoice-totals-value">
          $0.00
        </span>
      </div>
      <div class="invoice-totals-row">
        <strong class="invoice-totals-title">
          Amount Due
        </strong>
        <span class="invoice-totals-value">
          $1619.97
        </span>
      </div>
    </div>
    <small class="p-t-2">
      <strong>
        PAYMENT TERMS AND POLICIES
      </strong>
      All accounts are to be paid within 7 days from receipt of invoice. To be paid by cheque or credit card or direct payment online. If account is not paid within 7 days the credits details supplied as confirmation of work undertaken will be charged the agreed
      quoted fee noted above. If the Invoice remails unpaid. our dept recovery agency, Urban, may charge you a fee of 25% of the unpaid portion of the
      invoice amount and other legal and collection costs not covered by the fee.
    </small>
  </div>
  <div class="card-footer text-xs-right">
    <button type="button" class="btn btn-danger btn-icon btn-sm" onclick="window.print();">
      <i class="material-icons">print</i>
      Print
    </button>
    <button type="button" class="btn btn-info btn-icon btn-sm">
      <i class="material-icons">import_export</i>
      Export to PDF
    </button>
  </div>
</div>
